.sidenav{
display:flex;
flex-direction: column;
box-sizing: border-box;


    right:0px;
    bottom:0px;
    height: 100vh;
    background-color:black;
    width: 280px;
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    transition: all 0.4s ease;
    overflow: hidden;
    h2{
      color: rosybrown;
      font-size: 30px;
      
    }
  }

  .sidenav.hide{
    width: 0;
  }
  .content{
 overflow: auto;
 height: 700px;
 max-height: 700px;
 overflow-x: hidden;
border: 1px solid rosybrown;
  }
  .top{
    height: 10%;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
  .buybutton{
    position:absolute;
  bottom: 0px;
  display:flex;
  flex-direction: column;
  width: 100%;
  .cashout{ 
   align-self: center;
    all:unset;
    cursor: pointer;
  box-sizing: border-box;
  width: 100%;
    height: 50px;
    text-align: center;
    background-color:rosybrown;

    &:hover{
      border: 4px solid black;
    }
  
  }
}
.item{
  white-space: border;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  border: 1px solid rosybrown;
  margin-bottom: 5px;
  p{
    align-self: flex-end;
  }
}
.price{
 background-color: white;
  height:50px;
 display:flex;
 justify-content:center;
 align-items: center;
  width: 100%;
}
 /* width */
 ::-webkit-scrollbar {

  width: 6px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(black,0.0) ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(rosybrown,0.8); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(black,0.0) ; 
}
.hidebtn{
  font-size: 25px;
  font-weight: bold;
left: 0px;
height: 60px;width: 60px;
color:rosybrown;

background-color: transparent;
transition: all 0.1s ease;
&:hover{
  box-shadow: 3px 3px 7px 0px rosybrown;
}
}