.links {
  box-sizing: border-box;
  all: unset;
  position: relative;
  padding: 10px 40px;
  display: inline-block;
  font-size: 26px;
  color: rosybrown;
cursor: pointer;

  &:hover {
    color: black;
    background-color: rosybrown;
  }
}
.linksHolder {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
}
.headerTop {

  box-sizing: border-box;
  display: flex;

  justify-content: center;

  .title {
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
  h1{
    font-size: 78px;
  }
    
    span {
      transform: translate(20px, -26px);
      align-items: bottom;
      font-size: 18px;
      font-weight: bold;
      color: rgb(243, 243, 243);
    }
  }
}
.Header{

top: 0px;
}
.headerTop{
  display: flex;
  justify-content: space-between;


  .logor{
    align-self: flex-start;
    top: 0px;
    width: 100px;
  height: 72px;
    right: 0px;
    color:rosybrown;
    cursor: pointer;
    padding: 20px;
    border: 5px solid rosybrown;
    align-self: center;
    margin-right: 20px;
  transition: all 0.2s ease;
     &:hover{
       background-color:rosybrown;
       color:black;
     
     }
    p{
      font-weight: bold;
    }
  }
  .logol{
   width: 82px;
  }
}

