.links {
  box-sizing: border-box;
  all: unset;
  position: relative;
  padding: 10px 40px;
  display: inline-block;
  font-size: 26px;
  color: rosybrown;
cursor: pointer;

  &:hover {
    color: black;
    background-color: rosybrown;
  }
}
.linksHolder {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
}
.headerTop {

  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .title {
    color: white;
    font-size: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    
    span {
      transform: translate(65px, -26px);
      align-items: bottom;
      font-size: 20px;
      font-weight: bold;
      color: rgb(243, 243, 243);
    }
  }
}
.Header{

top: 0px;
}
