*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-stretch: extra-expanded;
  font-weight: 200;
}
html,body,#root,.App{
  position: relative;
  height: 100%;



}
body{
  background: url("https://images2.alphacoders.com/104/1041773.jpg") no-repeat center center fixed;
  background-color: rgba(0,0,0,0.2);
  background-size: cover;
}

.App{

 
  display: flex;
  flex-direction: column;
  
}

